*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
background:linear-gradient(
135deg,
#000000,
#140000,
#250000
);
overflow-x:hidden;
}

.bg-glow{
position:fixed;
width:500px;
height:500px;
background:red;
border-radius:50%;
filter:blur(180px);
opacity:.25;
z-index:-1;
}

.container{
width:100%;
max-width:750px;
padding:30px;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
-webkit-backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.1);
border-radius:25px;

box-shadow:
0 8px 32px rgba(255,0,0,.3);
}

h1{
text-align:center;
margin-bottom:25px;
color:#ff2b2b;
}

.top-controls{
display:flex;
gap:10px;
}

input{
flex:1;
padding:14px;
border:none;
outline:none;
border-radius:12px;

background:rgba(255,255,255,.08);
color:white;
}

input::placeholder{
color:#ccc;
}

button{
padding:12px 18px;
border:none;
border-radius:12px;
cursor:pointer;
font-weight:bold;
color:white;
transition:.3s;
}

button:hover{
transform:translateY(-2px);
}

.top-controls button{
background:#ff2b2b;
}

.filter-section{
margin-top:15px;
display:flex;
gap:10px;
flex-wrap:wrap;
}

.filter-section button{
background:#550000;
}

.search-section{
margin-top:15px;
}

#taskCounter{
margin-top:15px;
color:white;
}

ul{
list-style:none;
margin-top:20px;
}

li{
display:flex;
justify-content:space-between;
align-items:center;

padding:15px;
margin-bottom:12px;

background:rgba(255,255,255,.08);

border-radius:15px;
color:white;
}

.completed{
text-decoration:line-through;
color:#999;
}

.actions button{
margin-left:5px;
}

.complete-btn{
background:#00a86b;
}

.edit-btn{
background:#ff9800;
}

.delete-btn{
background:#ff2b2b;
}
